@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
           }

* {
    padding: 0px;
    margin:  0px;
    font-family: Montserrat;
  }
a{
    text-decoration: none;
    color: #FF0000 ;
  }
li{
    list-style-type: none;
   }
.nav__list__item{
    margin: 24px;
    display: inline; 
   }
.nav{
    text-align: center;
    margin-top: 14px;
    }

.photo{
    padding-top: 20px;
    width: 100%;
    }

.full__text{
        text-align: center;
        margin: 4%;
    }
.paragraph2{
    padding: 30px;
}

.button{
    text-align: center;
    padding: 14px;
    display: inline-block; 
    width: 180px;
    height: 45px;
    font-weight: bold;
    color: white;
    background-color: #FF0000;
    border-radius: 5px;
    border: 0px;
    transition: .3s;
    }

.button:hover{
    background-color: rgb(46, 43, 195);
    }

.footer__button{
    text-align: center;
    }
.text__title{
    margin-bottom: 45px;
     font-weight: bold;
    }

.footer__text{
    margin-top: 70px;
    text-align: right;
    margin-right: 4%;
    margin-bottom: 30px;
    }


